<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>GrapplingVault</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/images/dedicated_logo.png" type="image/svg+xml">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/static/images/dedicated_logo.png" class="icon" alt="Icon">
            <h1>Grappling Vault</h1>
            <img src="/static/images/dedicated_logo.png" class="icon" alt="Icon">
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>